/Ejemplos/Ejemplo01/nbproject/private/
/Ejemplos/Ejemplo01/build/
/Ejemplos/Ejemplo02/nbproject/private/
/Ejemplos/Ejemplo03/nbproject/private/
/Ejemplos/Ejemplo03/build/
/Practica 0/nbproject/private/
/Practica 0/build/
